* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

    body {
      font-family: Arial, sans-serif;
      background: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .card {
      background: #4690ad;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 40px;
      width: 100%;
      max-width: 400px;
    }

    h1 {
      font-size: 22px;
      margin-bottom: 8px;
      color: #222;
    }

    p {
      font-size: 14px;
      color: #666;
      margin-bottom: 24px;
    }

    label {
      display: block;
      font-size: 14px;
      color: #333;
      margin-bottom: 6px;
    }

    input[type="email"] {
      width: 100%;
      padding: 10px 14px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

    input[type="email"]:focus {
      border-color: #f1f3f5;
    }

    .error {
      font-size: 12px;
      color: red;
      margin-top: 5px;
      display: none;
    }

    button {
      width: 100%;
      margin-top: 16px;
      padding: 11px;
      background: #39587c;
      color: #fff;
      font-size: 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover { 
    background: #657a8f;
     }
    button:disabled { 
    background: #aaa; 
    cursor: not-allowed; 
    }

    .success {
    display: none;
    text-align: center;
    padding: 20px 0;
    }

    .success h2 { 
    font-size: 20px; 
    color: #222; 
    margin-bottom: 8px; 
    }
    .success p { 
    font-size: 14px; 
    color: #666; 
    }